<h3>Вес пользователя:</h3>

<p id="weight"></p>

<font color="red" id="error_renewal"></font>

<script type="text/javascript">
  /*console.log(`<%= @existing_users %>`)*/

  var user_id = `<%= @user_id %>`;
  var old_weight = ""

  function renew_weight() {
    $.ajax({
      url: "/print_weight?user_id="+user_id,
      dataType: "json"
    }).done(function(response, status, ajaxOpts) {
      $("#error_renewal").text("");
      /*console.log(response, status, ajaxOpts)*/
      if (old_weight != response["response"]){
        old_weight = response["response"];
        /*console.log($('#weight').text())*/
        $('#weight').text(response["response"]);
      }
    }).fail(function(error) {
      console.log(error)
      setTimeout(function() {
        $("#error_renewal").text("Данные не обновлены");
      }, 1000);
    });
    /*console.log('1');*/
    setTimeout("renew_weight()", 1000)
  }

  renew_weight()
</script>
